body {
  background: #fff;
  color:#000;
  font-size:.9em;
  padding: 0;
  margin: 0;
}

#responses {
  margin: 0;
  padding: 0 0 6em 0;
  overflow: hidden;
}

#txt-repl {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0 0 0 0.2em;
    border: none;
    border-top: 2px solid gray;
    background: white;
    z-index: 1;
    min-height: 4.8em;
    width: 100%;
    resize: none;
    outline: none;
    font-family: monospace;
}

.request {
  color: gray;
}

.response {
  color: black;
}

.error {
  color: red;
}

.sys {
  color: gray;
  font-style: italic;
}
